* {
	margin: 0 auto;
	padding: 0
}

body {
	background-color: #FFCC29;
}

.formulario {
	margin-top: 10%;
	width: 400px;
	border: 2px solid;
	border-radius: 10px;
	background-color: #fff;
}

.formulario p {
	text-align: center;
}

.limitar {
	width: 1000px;
}

.painel_esquerdo{
	margin-top: 10px;
	float: left;
	width: 25%;
}

.painel_direito{
	margin-top: 10px;
	float: right;
	width: 75%;
}